<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211366807960-m2tit4f0m2e6h8ealfejv0vsde4dmhd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211366807960-m2tit4f0m2e6h8ealfejv0vsde4dmhd6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211366807960-6mr21vakbia7uqt0605ujuqjof6i9ca4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmLZ8sDT3MYxeG7tt79NIIM34d99LUCGs</string>
	<key>GCM_SENDER_ID</key>
	<string>211366807960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jessica.nanobanana</string>
	<key>PROJECT_ID</key>
	<string>nano-banana22222</string>
	<key>STORAGE_BUCKET</key>
	<string>nano-banana22222.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211366807960:ios:96ad6096c984ed00ff03ed</string>
	<key>DATABASE_URL</key>
	<string>https://nano-banana22222-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>